.title {
    color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.text-field {
    border-radius: 32px;
    background-color: #525252;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 24px;
    width: 500px;
}

.search-field {
    border-radius: 32px;
    background-color: #525252;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 4px;
    width: 100%;
}

input {
    margin-left: 24px;
    color: #FFF;
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    border: none;
    outline: none;
    box-shadow: none;
    caret-color: #FFED4C;
}

p{
    color: #525252;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.overlay p {
    color: white;
    font-family: Roboto;
    font-size: 28px;
    text-align: center;
    font-style: normal;
    width: 100%;
    font-weight: 400;
    line-height: normal;
}

h4 {
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h3 {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #525252;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}