<!DOCTYPE html>
<html lang="ru">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crosspad</title>

        <link rel="stylesheet" href="../style/container.css">
        <link rel="stylesheet" href="../style/buttons.css">
        <link rel="stylesheet" href="../style/text.css">
    </head>

    <body>

        <div class="top_bar">
            <button class="profile_button">
                <img src="../resources/img/profile.svg" style="color: white;" class="subimg">
            </button>
            <div class="search-field">
                <button class="profile_button">
                    <img src="../resources/img/search.svg" style="color: white;" class="subimg">
                </button>
                <input type="text" placeholder="Поиск по заметкам">
                <button class="profile_button">
                    <img src="../resources/img/filter.svg" style="color: white;" class="subimg">
                </button>
            </div>
        </div>

        <button class="floating_button">
            <img src="../resources/img/add.svg" style="color: black;" class="subimg">
        </button>

        <script src="../js/notes.js"></script>
    </body>

</html>