<!DOCTYPE html>
<html lang="ru">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crosspad</title>

        <link rel="stylesheet" href="../style/container.css">
        <link rel="stylesheet" href="../style/buttons.css">
        <link rel="stylesheet" href="../style/text.css">
    </head>

    <body>

        <h1 class="title">Регистрация</h1>

        <div class="text-field">
            <img class="subimg" src="../resources/img/profile.svg">
            <input type="text" placeholder="Почта" id="email_text_field">
        </div>
        <div class="text-field">
            <img class="subimg" src="../resources/img/lock.svg">
            <input type="password" placeholder="Пароль" id="password_text_field">
        </div>
        <div class="text-field">
            <img class="subimg" src="../resources/img/lock.svg">
            <input type="password" placeholder="Подтвердите пароль">
        </div>

        <button class="sign_in_button">Зарегистрироваться</button>

        <script src="../js/registration.js"></script>
    </body>

</html>